body{
  background-color: black;
}
  
.container{
  display:flex;
  justify-content: center;
  position: absolute;
  margin-top: 30%;
  background: white;
width:20%;
/* height:4px; */
margin-top:0%;
height: 50%;
background-image: url('img/jass5.jpeg');
position:absolute;
border-radius: 60%;
align-items: center;
margin-left: 5%;
float: right;

}

        .box{
      text-align: center;
      margin-right: 0%;
      margin-top: 5%;
      /* color: beige; */
      
      }
      .box h2 {
        font-size: xx-large;
        color: aquamarine;
      }
      .box h1{
        color: yellow;
      }
      .box p{
        /* margin-right: 0px;
         text-align: center;
         margin-left: 65%; */
         /* font-size: %; */
         /* font-style: italic; */
         color: aquamarine;
         font-size: x-large;
      }  
      .js p{
        color: antiquewhite;
        font-size: x-large;
        text-align: center;
        /* margin-left: 15%;  */
        /* font-size: %; */
         font-style: italic; 
      }
      .js h2{
        color: rgb(255, 0, 132);
        font-size: xx-large;
        font-size: 280%;
        text-align:center ;
      }
    .btn2{
      background-color: rgb(127, 204, 255);
      width: 10%;
      padding-top: 1%;
      border-radius: 5%;
      padding-bottom: 1%;
      font-size: 20px;
      margin-top: 5%;
      margin-left: 45%;
      /* transition: all .5s ease-in-out; */
      /* border: 2px solid black; */
    }
    .btn2 a {
      text-decoration: none;
      /* text-shadow: 10%; */
      color: black;
      font-weight: 800;
      border: 2px solid black;
    }


      #btn{
        background-color:grey;
      }
      body{
        height:100vh;
        overflow: hidden;
    }
    nav{
        position: absolute;
        top:300px;
        right:0px;
        width: 150px;
    
    }
    nav.nav-content{
        justify-content: center;
        align-items: center;
        display: flex;
        transform: rotate(-50deg);
    }
    .nav-content .toggle-btn,
    .nav-content span a{
        height: 100px;
        width: 120px;
        background: white;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px rgba(0,0,0.2);
        
    }.nav-content span a:hover{
      font-size: larger;
      height: 130px;
      width: 150px;
      background-color: rgb(211, 194, 197);
    }
    .nav-content .toggle-btn{
        font-size: 45px;
        margin-top: 80px;
        color: #0e2431;
        z-index: 100;
    
    }.toggle-btn{
    margin-bottom: -120px;}
    .nav-content span{
        position: absolute;
        transform:rotate(calc(var(--i)*(360deg/8)))translateY(300px);
    }
    .nav-content span a{
        text-decoration: none;
        transform: rotate(calc(var(--i)*(360deg/-8)));
    }
  
    nav .open .nav-content span {
      transform:rotate(calc(var(--i)*(360deg/8)))translateY(300px);
    }
    .nav-content span a i{
        font-size: 44px;
        color: #0e2431;
    }
    