body{
    background-color: #004c66;
}
.circle{
    height:40px;
    margin-top: 20%;
    width:40px;
    margin-left: 50%;
    border:5px solid rgb(0, 174, 255);
    border-radius: 50%;
    border-top-color:azure;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}